body {
  background-color: #303030;
  color: #000000;
}
.background {
  position: fixed;
  z-index: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.background #pattern-bg {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-repeat: repeat;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  filter: blur(0.2rem) grayscale(0.4);
  background-color: #17171700;
  opacity: .6;
}
.background #noise-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  opacity: .5;
  background: url(https://www.transparenttextures.com/patterns/broken-noise.png);
}
.grid {
  padding: 14px 20px;
}

.follow {
  width: inherit;
  min-height: 100vh;
  padding: 5%;
}

.follow h1 {
  font-weight: 800;
  font-size: clamp(3rem, 3vw, 10rem);
  color: white;
}

.follow .grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (22rem)[auto-fill];
      grid-template-columns: repeat(auto-fill, 22rem);
  gap: 4rem;
  margin-top: 4rem;
}

.follow .grid .card {
  position: relative;
  aspect-ratio: 40 / 42;
  width: 22rem;
  background: rgba(228, 228, 228, 0.321);
  -webkit-box-shadow: 0px 18px 31px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 18px 31px rgba(0, 0, 0, 0.19);
  border-radius: 11px;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.follow .grid .card:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.follow .grid .card:hover .cover {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

.follow .grid .card .cover {
  position: relative;
  width: 100%;
  aspect-ratio: 40 / 24;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 11px 11px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: saturate(0);
          filter: saturate(0);
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
}

.follow .grid .card .cover::before {
  position: absolute;
  inset: 0;
  content: "";
  background: #00000014;
  border-radius: 11px 11px 0px 0px;
}

.follow .grid .card h4 {
  font-weight: 800;
  text-transform: uppercase;
  margin-left: 1rem;
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: white;
}

.follow .grid .card .links {
  margin-left: 1rem;
}

.follow .grid .card .links a {
  margin-right: 1.4rem;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.follow .grid .card .links a:hover i[class="ri-twitch-fill"] {
  color: #6441a5;
}

.follow .grid .card .links a:hover i[class="ri-youtube-fill"] {
  color: white;

}

.follow .grid .card .links a:hover i[class="ri-github-line"] {
  color: white;

}

.follow .grid .card .links i {
  color: #363636;
  font-size: 2.5rem;
  -webkit-transition: color 280ms;
  transition: color 280ms;
}

.follow .grid .card .cardOwner {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  color: white;
  font-weight: 800;
  font-size: 1.8rem;
}

.follow .grid .card .cardOwner span {
  opacity: 0.6;
  font-size: 1rem;
  color: #2c2c2c;
}

.follow .grid .card.resource {
  height: auto !important;
}

.follow .grid .card.resource .cover {
  -webkit-filter: unset;
          filter: unset;
}

.follow .grid .card.resource p {
  margin: 1rem;
  line-height: 1.8rem;
  font-weight: 600;
  font-size: 2rem;
  opacity: 0.7;
  color: white;
  bottom: 0 !important;
  left: 0 !important;
}

.follow .grid .card.resource .resourceActions {
  padding: 0.1rem 1rem;
  padding-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.follow .grid .card.resource .resourceActions a {
  cursor: pointer;
  width: 3rem !important;
  height: 3rem !important;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border: 1px solid #36363650;
  font-size: 1.5rem;
  color: #3636369a;
  -webkit-transition: background 300ms, color 300ms;
  transition: background 300ms, color 300ms;
}

.follow .grid .card.resource .resourceActions a:hover {
  background: #363636be;
  color: white;
}

.follow .grid .card.resource .resourceActions a.disabled {
  pointer-events: none;
}

.follow .grid .card.resource .resourceActions a.disabled:hover {
  background: white;
  color: #363636be;
}